.bae-clean:not(.bae-unclean),
.bae-clean :not(.bae-unclean){
  background:transparent;
  color:inherit}

.bae-flat:not(.bae-unflat),
.bae-flat :not(.bae-unflat){
  border-color:transparent}

.bae-warm{color:#415!important;background:#bae!important}
.bae-cool{color:#bae!important;background:#415!important}
.bae-dawn{color:#510!important;background:#bae!important}
.bae-dusk{color:#bae!important;background:#510!important}
.bae-vine{color:#707!important;background:#4ea!important}
.bae-vein{color:#4ea!important;background:#707!important}
.bae-swag{color:#925!important;background:#bff!important}
.bae-swab{color:#bff!important;background:#925!important}
